body {
  font-size: 20px;
  font-family: 'BhuTuka Expanded One', cursive;
  color: lightBlue;
  background-image: url('image/fruitportalresize.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  display: flex;
  margin: auto;
  width: 8rem;
  height: 8rem;
}

<!-- Navbar styling -->
nav {
  background-color: black;
  opacity: 0.5;
}

.navbar {
  font-size: 25px;
  overflow: hidden;
  /* height: 30px; */
  background-color: #eeeee;
  border-bottom-right-radius: 2%;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  top: 0;
}

/* style links inside navigation bar */
.navbar a {
  font-weight: bold;
  color: lightGreen;
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
  border: none;
  border-radius: 15px;
}

/* change color of links on hover */
.navbar a:hover {
  color: red;
  background-color: #eeeeee;
  cursor: crosshair;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.navbar a.current-page {
  color: purple;
}

.main {
  margin-top: 45px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

img {
  justify-content: center;
  width: 100%;
  height: auto;
  align-content: stretch;
  border-radius: 2%;
  left: 40%;
  right: 40%;
}

/* Button stuff */

button {
  text-shadow: 1px 5px 5px;
  background-color: green;
  border: 2px solid black;
  color: orange;
  opacity: 0.8;
  padding: 10px;
  font-size: 35px;
  border-radius: 10px;
  position: fixed;
  bottom: 65%;
  left: 40%;
  right: 40%;
}

.button {
  font-size: 15px;
  transition-duration: 0.4s;
  background-color: darkRed;
  border: 2px solid black;
  color: orange;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  cursor: crosshair;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.button:hover {
  color: red;
  background-color: #eeeeee;
  cursor: crosshair;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  color: red;
  background-color: #eeeeee;
  cursor: crosshair;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    box-shadow: initial;
  }

.textFloat {
  text-shadow: 1px 5px 5px;
  background-color: green;
  border: 2px solid black;
  color: orange;
  opacity: 0.8;
  padding: 10px;
  font-size: 35px;
  border-radius: 10px;
  position: float;
  left: 50%;
  right: 50%;
}

  /* Table Stuff */

th {
  background-color: lightGreen;
  }

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 5px solid #ddd;
  }

  /* Link Styling */
a:hover {
    cursor: crosshair;
    margin: 5px;
    padding: 5px;
    border: 5px;
  }

  /* Footer */
footer {
    font-size: 25px;
    color: black;
    height: 65px;
    position: static;
    bottom: 0%;
    top: auto;
  }

footer:hover {
    opacity: 1.0;
}
  /* Credits:

  Code Credits::
    https://w3schools.com

  Photo credits:
    Logo color wheel: https://superawesomevectors.com/free-vector-color-wheel/

  Favicon: https://www.freevector.com/vector/handshake-logo

  All other Art images and Coding by Liam C (website creator/"Webmaster")

*/
